html,
body,
#app {
  height: 100%;
  background: #2b4b6b;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
.el-breadcrumb {
  margin-bottom: 20px;
}
.el-table {
  font-size: 12px;
  margin: 15px 0px;
}
